<!DOCTYPE html>
<html ng-app="shoppingApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping App</title>
    <!-- Libraries -->
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="styles.css" type="text/css"/>
    <script src="app.js"></script>
  </head>
  <body ng-controller="shoppingAppCtrl">
    <div class="row list-container">
      <div id="toBuyList" class="col-md-6 col-sm-12 list">
        <h2>TO BUY:</h2>
        <span ng-if="!toBuyList.length">Everything is bought!</span>
        <ul>
          <li class="list-item" ng-repeat="item in toBuyList">Buy {{item.quantity}} {{item.name}}
          <button type="button" ng-click="buy($index)">Bought</button><br>
          </li>
        </ul>
      </div>
      <div id="boughtList" class="col-md-6 col-sm-12 list">
        <h2>ALREADY BOUGHT:</h2>
        <span ng-if="!boughtList.length">Nothing bought yet</span>
        <ul>
          <li class="list-item" ng-repeat="item in boughtList">Bought {{item.quantity}} {{item.name}}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
